
{% extends "layout.html" %}
{% block body %}
    <h1 align='center'>Welcome to the Kunteksto Overview</h1>

    <p>Kunteksto is our open source tool to allow subject matter experts and data creators to communicate the meaning of the data they share, as well as to transfer validation capabilities to secondary data users in a way that is machine computable and transparent to those users.</p>

    <p>It allows users to take standard CSV files and add context using any combination of <a href="http://lov.okfn.org/dataset/lov/" target="_blank">Linked Open Vocabularies</a>, domain specific vocabularies e.g. <a href="https://bioportal.bioontology.org/" target="_blank">Bio-medical ontologies</a> and local ontologies to their data to improve analysis and richness of information for use in Advanced Analytics and Artificial General Intelligence (AGI) applications.</p>

    <p>After conversion the data is then exported to the filesystem or sent directly to a datastore as any combination of XML, RDF and JSON.</p>

    <p>See the Kunteksto <a href="https://datainsights.tech/Kunteksto/index.html" target="_blank">documentation</a> for more information.</p>
<hr/>
<p align='center'>To being analysis of a new CSV file use the <b>Browse</b> to select it. Then click the <b>Analyze</b> button</p>
<div align='center'>
<form>
  <input type="file" name="csvFile"/>
  <button type="button">Analyze</button>
</form>
</div>
<p align='center'>The analysis process can take from a few seconds to several minutes. The model metadata page will open when analysis is complete.</p>
<hr/>
Go to the <a href="http://localhost:7659/admin">Administration</a> page to edit models.
{% endblock %}
{% block tail %}
<hr/>
<p align='center'>Copyright; 2018 Data Insights, Inc.</p>
{% endblock %}
