# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Kunteksto 
*.db
output/*.xml
output/*.rdf
output/*.xsd
output/xml
output/rdf

misc/

.cache/

# Sphinx
docs_source/build/*
docs/_sources/*
