# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Kunteksto 
*.db
kunteksto/output/rdf/*
kunteksto/output/json/*
kunteksto/output/xml/*
kunteksto/output/*.rdf
kunteksto/output/*.xsd

misc/

.cache/

# Sphinx
docs_source/build/*
docs/_sources/*
