{% extends 'admin/master.html' %}
{% block brand %}
<a class="navbar-brand" href="/">{{ admin_view.admin.name }}</a>
{% endblock %}

{% block body %}
<h1 align='center'>Kunteksto</h1>
<h3 align='center'>Select a Datamodel or a specific component to edit.</h3>
<p align='center'>To being analysis of a new CSV file upload it here. Then click the <b>Analyze</b> button</p>
<div align='center'>
<form>
  <input type="file" name="csvFile"/>
  <button type="button">Analyze</button>
</form>
</div>
<p align='center'>The analysis process can take from a few seconds to several minutes. The model metadata page will open when analysis is complete.</p>
{% endblock %}

{% block tail%}
<p align='center'>Copyright; 2018 Data Insights, Inc.</p>
{% endblock %}